Simulator/Cards/effect.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="effect" />
    <xs:complexType name="oneshot_effect">
        <xs:complexContent>
            <xs:extension base="effect">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="aquahulcus_effect">
        <xs:complexContent>
            <xs:extension base="oneshot_effect" />
        </xs:complexContent>
    </xs:complexType>
</xs:schema>